    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row">
        	<div class="col-md">
             <div class="ftco-footer-widget mb-4 text-center">
              <h2 class="ftco-heading-2">{{Footer.logo_en}}</h2>
              <p class="font-size-12 text-right" dir="rtl"><strong>{{Footer.short_text}}</strong></p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                {% for item in Social %}
                <li class="ftco-animate"><a href="#"><span class="icon-{{item.name}}"></span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% if request.user.is_authenticated %}
            {% if request.session.TYPE == 'Employee' %}
            <div class="col-md text-center">
              <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2 bb-1 pb-3">کارجو</h2>
                <ul class="list-unstyled font-size-13">
                  <li><a href="{% url 'HiresList' %}" class="pb-1 d-block"><strong>پیام های دریافتی</strong></a></li>
                  <li><a href="{% url 'UpdateResume' pk=request.user.id %}"><strong>رزومه ساز</strong></a></li>
                  <li><a href="{% url 'EmployeeJobApply' %}"><strong>رزومه های ارسالی</strong></a></li>
                  <li><a href="{% url 'AdsSaved' %}"><strong>آگهی های نشان شده</strong></a></li>
                </ul>
              </div>
            </div>
            {% else %}
            <div class="col-md text-center">
              <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2 bb-1 pb-3">کارفرما</h2>
                <ul class="list-unstyled font-size-13">
                  <li>
                    <strong>{{request.user.get_full_name}}</strong>
                  </li>
                    <li><a href="{% url 'ManagerPanel' pk=request.session.USER_ID %}">پنل مدیریت</a></li>
                    <li><a href="{% url 'NewCompany'%}">افزودن شرکت جدید</a></li>
                    <li><a href="{% url 'NewAd'%}">افزودن آگهی جدید</a></li>
                    <li><a href="{% url 'EditManagerInfo' pk=request.session.USER_ID  %}">ویرایش اطلاعات</a></li>
                    <li><a href="{% url 'Logout' %}">خروج از حساب کاربری</a></li>
                </ul>
              </div>
            </div>
          {% endif %}
        {% endif %}
        <div class="col-md text-center">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 bb-1 pb-3">منو کاربر</h2>
            <ul class="list-unstyled font-size-13">
              <li>
                <strong>{{request.user.get_full_name}}</strong>
              </li>
              <li><a href=""><strong>خانه</strong></a></li>
              <li><a href=""><strong>آگهی</strong></a></li>
              <li><a href=""><strong>شرکت ها</strong></a></li>
              <li><a href=""><strong>مقالات</strong></a></li>
            </ul>
          </div>
        </div>

          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h5 class="ftco-heading-2" dir="rtl">سوالی دارید؟ با ما در میان بگذارید ↓ </h5>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><a><span class="icon icon-envelope"></span><span class="text p-1"> {{Footer.email}} </span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

              {% if Footer.logo_fa %}
              <p>
                &copy; تمامی حقوق برای {{Footer.logo_fa}} محفوظ است . قدرت گرفته شده از پایتون |  برنامه نویس<a href="https://aminodin.pythonanywhere.com/" target="_blank"> امین الدین اکبری</a> | <script>document.write(new Date().getFullYear())</script>
              </p>
              {% endif %}
          </div>
        </div>
      </div>
    </footer>
