{% extends 'BASE_HTMLs/Base.html' %}
{% load static %}
{% block common_content %}
<section class="ftco-section ftco-candidates ftco-candidates-2 bg-light">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-8 pr-lg-4">
    				<div class="row">
    					{% for company in page_obj %}
		    			<div class="col-md-12">
		    				<div class="team d-md-flex p-4 bg-white">
		        			{% if company.profile_pic %}
		        			<div class="img" style="background-image: url({{company.profile_pic.url}});">
		        			{%else%}
		        			<div class="img" style="background-image: url({% static 'png/User.png' %});">
		        			{% endif %}
		        			</div>
		        			<div class="text pl-md-4 text-right" dir="rtl">
		        				<span class="location mb-0">{{company.address}}</span>
		        				<h2>{{company.name}}</h2>
                                {% comment %}{% for company in company.manager.all %}
			        			<span class="position">{{company.name}}</span>
                                {% endfor %}{% endcomment %}
			        			<p dir="rtl" class="mb-2 text-right">{{company.underlie|truncatewords:12}}</p>
			        			<p><a href="" class="btn btn-primary">رزومه</a></p>
		        			</div>
		        		</div>
		    			</div>
		    			{% endfor %}
		    		</div>
		    		<div class="row mt-5">
		          <div class="col text-center">
		            <div class="row mt-5">
		    <div class="col text-center">
		        <div class="block-27">
		            <ul>
		              	{% if page_obj.has_previous %}
		                <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
		                {% endif %}
		                {% for page in paginator.page_range %}
		                	{% if page == page_obj.number%}
		                		<li class="active"><a href="?page={{page}}">{{page}}</a></li>
		                	{% else %}
		                		<li><a href="?page={{page}}">{{page}}</a></li>
		                	{% endif %}
		                {% endfor %}
		                {% if page_obj.has_next %}
		                <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
		                {% endif %}
		            </ul>
		        </div>
		    </div>
		</div>
		          </div>
		        </div>
		    	</div>
		    	<div class="col-lg-4 sidebar">
		        <div class="sidebar-box bg-white p-4 ftco-animate fadeInUp ftco-animated">
		        	<h3 class="heading-sidebar">Browse Category</h3>
		        	<form action="#" class="search-form mb-3">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Search...">
                </div>
              </form>
		        	<form action="#" class="browse-form">
							  <label for="option-job-1"><input type="checkbox" id="option-job-1" name="vehicle" value="" checked=""> Website &amp; Software</label><br>
							  <label for="option-job-2"><input type="checkbox" id="option-job-2" name="vehicle" value=""> Education &amp; Training</label><br>
							  <label for="option-job-3"><input type="checkbox" id="option-job-3" name="vehicle" value=""> Graphics Design</label><br>
							  <label for="option-job-4"><input type="checkbox" id="option-job-4" name="vehicle" value=""> Accounting &amp; Finance</label><br>
							  <label for="option-job-5"><input type="checkbox" id="option-job-5" name="vehicle" value=""> Restaurant &amp; Food</label><br>
							  <label for="option-job-6"><input type="checkbox" id="option-job-6" name="vehicle" value=""> Health &amp; Hospital</label><br>
							</form>
		        </div>

		        <div class="sidebar-box bg-white p-4 ftco-animate fadeInUp ftco-animated">
		        	<h3 class="heading-sidebar">Select Location</h3>
		        	<form action="#" class="search-form mb-3">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Search...">
                </div>
              </form>
		        	<form action="#" class="browse-form">
							  <label for="option-location-1"><input type="checkbox" id="option-location-1" name="vehicle" value="" checked=""> Sydney, Australia</label><br>
							  <label for="option-location-2"><input type="checkbox" id="option-location-2" name="vehicle" value=""> New York, United States</label><br>
							  <label for="option-location-3"><input type="checkbox" id="option-location-3" name="vehicle" value=""> Tokyo, Japan</label><br>
							  <label for="option-location-4"><input type="checkbox" id="option-location-4" name="vehicle" value=""> Manila, Philippines</label><br>
							  <label for="option-location-5"><input type="checkbox" id="option-location-5" name="vehicle" value=""> Seoul, South Korea</label><br>
							  <label for="option-location-6"><input type="checkbox" id="option-location-6" name="vehicle" value=""> Western City, UK</label><br>
							</form>
		        </div>

		        <div class="sidebar-box bg-white p-4 ftco-animate">
		        	<h3 class="heading-sidebar">Job Type</h3>
		        	<form action="#" class="browse-form">
							  <label for="option-job-type-1"><input type="checkbox" id="option-job-type-1" name="vehicle" value="" checked=""> Partime</label><br>
							  <label for="option-job-type-2"><input type="checkbox" id="option-job-type-2" name="vehicle" value=""> Fulltime</label><br>
							  <label for="option-job-type-3"><input type="checkbox" id="option-job-type-3" name="vehicle" value=""> Intership</label><br>
							  <label for="option-job-type-4"><input type="checkbox" id="option-job-type-4" name="vehicle" value=""> Temporary</label><br>
							  <label for="option-job-type-5"><input type="checkbox" id="option-job-type-5" name="vehicle" value=""> Freelance</label><br>
							  <label for="option-job-type-6"><input type="checkbox" id="option-job-type-6" name="vehicle" value=""> Fixed</label><br>
							</form>
		        </div>
		      </div>
    		</div>
    	</div>
    </section>
{% endblock %}
