{% extends 'BASE_HTMLs/BASE.html' %}
{% load Ads %}
{% block common_content %}
<div class="container">
	<div class="ftco-search my-md-5" dir="rtl">
		<div class="row">
			<div class="col-md-12 tab-wrap">

				<div class="tab-content p-4" id="v-pills-tabContent">

					<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
						<form method="GET" action="{% url 'Search' %}" class="search-job">
							<div class="row no-gutters">
								<div class="col-md ml-md-2">
									<div class="form-group">
										<div class="form-field">
											<div class="icon"><span class="icon-briefcase"></span></div>
											<input type="text" class="form-control" name="title" placeholder="عنوان شغلی ، مهارت ...">
										</div>
									</div>
								</div>
								<div class="col-md ml-md-2">
									<div class="form-group">
										<div class="form-field">
											<div class="select-wrap">
												<div class="icon"><span class="ion-ios-arrow-down"></span></div>
												<select name="category" class="form-control">
													<option value="">دسته بندی</option>
													{% for Category in categories %}
													<option value="{{Category.name}}">{{Category.name}}</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md ml-md-2">
									<div class="form-group">
										<div class="form-field">
											<div class="icon"><span class="icon-map-marker"></span></div>
											<input type="text" name="location" class="form-control" placeholder="نام استان یا شهر">
										</div>
									</div>
								</div>
								<div class="col-md">
									<div class="form-group">
										<div class="form-field">
											<button type="submit" class="form-control btn btn-primary">جستجو</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="ftco-section bg-light">

	<div class="container">
		<div class="row">
			<div class="col-lg-3 sidebar">

		        <div class="sidebar-box bg-white p-4 ftco-animate fadeInUp ftco-animated">
		        	<h3 class="heading-sidebar">نوع قرار داد</h3>
		        	<form action="" class="browse-form font-size-10">

							  <label for="option-job-type-1"><input type="radio" id="option-job-type-1" name="job_nature" value="Remote">دورکاری</label><br>
							  <label for="option-job-type-2"><input type="radio" id="option-job-type-2" name="job_nature" value="PartTime">پاره وقت</label><br>
							  <label for="option-job-type-3"><input type="radio" id="option-job-type-3" name="job_nature" value="FullTime">تمام وقت</label><br>

							  <hr>
							  <button type="submit" class="btn btn-primary btn-sm">اعمال تغییرات</button>
							</form>
		        </div>
		      </div>
		      <div class="col-lg-9 pr-lg-4">
						{% home_ads request %}
		      </div>
		</div>
		<!--Paginate-->
		<div class="row mt-5">
		    <div class="col text-center">
		        <div class="block-27">
		            <ul>
		              	{% if page_obj.has_previous %}
		                <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
		                {% endif %}
		                {% for page in paginator.page_range %}
		                	{% if page == page_obj.number%}
		                		<li class="active"><a href="?page={{page}}">{{page}}</a></li>
		                	{% else %}
		                		<li><a href="?page={{page}}">{{page}}</a></li>
		                	{% endif %}
		                {% endfor %}
		                {% if page_obj.has_next %}
		                <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
		                {% endif %}
		            </ul>
		        </div>
		    </div>
		</div>
		<!--End Paginate-->
	</div>
</section>

{% endblock %}
