{% extends 'BASE_HTMLs/Base.html' %}

{% block common_content %}
<section class="ftco-section bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-8 bg-white text-right p-5" dir="rtl">

				<h3 class="">{{object.title}}</h3><hr>

				<div class="row mb-5">
					<div class="col-md-6 font-size-13 mb-3">
						دسته بندی :<br>
						<button class="btn btn-dark btn-sm">{{object.category.name}}</button>
					</div>
					<div class="col-md-6 font-size-13 mb-3">
						آدرس :<br>
						<button class="btn btn-dark btn-sm">{{object.location}}</button>
					</div>
					<div class="col-md-6 font-size-13 mb-3">
						نوع همکاری :<br>
						<button class="btn btn-dark btn-sm">{{object.get_job_nature_display}}</button>
					</div>
				</div>
				<strong class="text-dark">شرح موقعیت شغلی :</strong><hr>
				<p class="text-justify font-size-13 mb-5">{{object.text}}</p>

				<div class=" mb-5">
				<strong class="text-dark">مهارت های مد نظر کارفرما :</strong><hr>
				<p class="text-justify font-size-13">
					<ul class="text-dark">
						{% for skill in skills %}
							<li class="p-2">{{skill}}</li>
						{% endfor %}
					</ul>
				</p>
				</div>

				<strong class="text-dark mt-5">درباره شرکت :</strong><hr>
				<p class="text-justify font-size-13 mb-5">{{object.company.underlie}}</p>

				<div class="row mb-5">
					<div class="col-md-6 font-size-13 mb-3">
						وضعیت نظام وظیفه :<br>
						<button class="btn btn-dark btn-sm">{{object.get_soldier_ship_display}}</button>
					</div>
					<div class="col-md-6 font-size-13 mb-3">
						حقوق ماهیانه (به تومان) :<br>
						<button class="btn btn-dark btn-sm">{{object.salary}}</button>
					</div>
				</div>

			</div>
			<div class="col-md-4 text-right">
				<div class="p-4 mb-3 bg-white">
					<strong class="pb-5">اطلاعات شما</strong>
					<p class="bb-1 bg-light p-3">{{request.user.get_full_name}}</p>
					<p class="bg-light p-3">{{request.user.username}}</p>
					{% if request.user.is_authenticated %}
						{% if employee %}
			              <a href="{% url 'UpdateResume' pk=employee.id %}" class="p-4 btn btn-block btn-light">مشاهده رزومه</a>
			              <a href="{% url 'ApplicantView' ad=object.id%}" class="btn btn-block btn-primary">ارسال رزومه</a>
						{% endif %}
		            {% endif %}
		              
		              <p class="text-center font-size-13 mt-3" dir="rtl">
		               	فرصت ارسال رزومه : تا <u>{{time_left}}</u> روز دیگر
		           	  </p>
            	</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
