{% extends 'BASE_HTMLs/Base.html' %}
{% load jalali_tags %}
{% block common_content %}
<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-12 ftco-animate text-center mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Job Post</span></p>
            <h1 class="mb-3 bread">Post A Job</h1>
          </div>
        </div>
      </div>
    </div>

		<section class="ftco-section bg-light">
      <div class="container">
        <div class="row">
       
       <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">Contact Info</h3>
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#"><span class="__cf_email__" data-cfemail="671e081215020a060e0b2703080a060e094904080a">[email&#160;protected]</span></a></p>

            </div>
            
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">More Info</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad iure porro mollitia architecto hic consequuntur. Distinctio nisi perferendis dolore, ipsa consectetur</p>
              <p><a href="#" class="btn btn-primary  py-2 px-4">Learn More</a></p>
            </div>
          </div>

          <div class="col-md-12 col-lg-8 mb-5">
          {% if form.errors %}
            <h5 class="alert alert-warning text-right"><strong>لطفا خطاهای فرم را برطرف کنید ↓</strong></h5>
          {% endif %}
			     <form action="{% url 'NewAd' %}" class="p-5 bg-white" method="post" dir="rtl">
            {% for form in form_ad %}
            {% for error in form %}
              <strong>{{ error.errors }}</strong>
            {% endfor %}
            {% endfor %}
            <div class="row form-group text-right">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label for="title">{{form.title.label_tag}}</label>
                    {{form.title}}
                    {% for error in form.title.errors %}
                      <strong class="alert alert-warning mb-2">{{error}}</strong><br>
                    {% endfor %}
                </div>
            </div>

            <div class="row form-group text-right">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label for="location">{{form.location.label_tag}}</label>
                    {{form.location}}
                </div>
                <div class="col-md-12 mb-3 mt-3 mb-md-0">
                  <label for="address">{{form.address.label_tag}}</label>
                    {{form.address}}
                </div>
            </div>


            <div class="row form-group text-right">
                <div class="col-md-4 mb-3 mb-md-0">
                  <label for="category">{{form.category.label_tag}}</label>
                    {{form.category}}
                </div>
                <div class="col-md-8 mb-3 mb-md-0">
                  <label for="company">{{form.company.label_tag}}</label>
                    {{form.company}}
                </div>
            </div>

            <div class="row form-group text-right">
                <div class="col-md-12 mb-3">
                  <label for="text">{{form.text.label_tag}}</label>
                    {{form.text}}
                      {% for error in form.text.errors %}
                        <strong class="alert alert-warning mb-2">{{error}}</strong><br>
                      {% endfor %}
                </div>
                <div class="col-md-6 mb-3">
                  <label for="soldier_ship">{{form.soldier_ship.label_tag}}</label>
                    {{form.soldier_ship}}
                </div>
            </div>

            <div class="row form-group text-right">
                <div class="col-md-12 mb-3">
                  <label for="skills">{{form.skills.label_tag}}</label>
                    {{form.skills}}
                      {% for error in form.skills.errors %}
                        <strong class="alert alert-warning mb-2">{{error}}</strong>
                      {% endfor %}
                </div>
            </div>

            <div class="row form-group text-right">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label for="job_nature">{{form.job_nature.label_tag}}</label>
                    {{form.job_nature}}
                </div>

                <div class="col-md-6 mt-3 mb-md-0">
                  <label for="expired_in">{{form.expired_in.label_tag}}</label>
                    {{form.expired_in}}
                </div>

                <div class="col-md-6 mt-3 mb-md-0">
                  <label for="salary">{{form.salary.label_tag}}</label>
                    {{form.salary}}
                    {{form.generate_in}}
                </div>

            </div>
            <hr>
            <button type="submit" class="btn btn-success">درج آگهی</button>
            


            {% csrf_token %}
            </form>
          </div>

        </div>
      </div>
    </section>
		
		<section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>Subcribe to our Newsletter</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-12">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}