{% extends 'BASE_HTMLs/Base.html' %}
{% load template-parts %}
{% load jalali_tags %}
{% block common_content %}
		<section class="ftco-section bg-light">
      <div class="container">
        <div class="row">

       {% valid_companies request %}

          <div class="col-md-12 col-lg-8 mb-5">

			     <form class="p-5 bg-white" method="POST" dir="rtl" enctype='multipart/form-data'>

            {% if user %}
            <p class="alert alert-primary text-center" dir="rtl"><strong>{{user.get_full_name}}</strong> به عنوان نماینده این شرکت در این وب سایت شناخته خواهد شد</p>
            {% endif %}

            <div class="row form-group text-right">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label for="title">{{form.logo.label_tag}}</label>
                    {{form.logo}}
                </div>
            </div>

            <div class="row form-group text-right">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label for="title">{{form.name.label_tag}}</label>
                    {{form.name}}
                </div>
            </div>

            <div class="row form-group text-right">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label for="title">{{form.address.label_tag}}</label>
                    {{form.address}}
                </div>
            </div>

            <div class="row form-group text-right">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label for="location">{{form.underlie.label_tag}}</label>
                    {{form.underlie}}
                </div>
            </div>

            <hr>
            <button type="submit" class="btn btn-primary btn-lg">ثبت</button>
            {% csrf_token %}
            </form>
          </div>

        </div>
      </div>
    </section>
{% endblock %}
