{% extends 'BASE_HTMLs/Base.html' %}
{% block common_content %}
<section class="ftco-section bg-light" dir="rtl">
	<div class="container">
		<div class="col-md-10 text-right">
			<p>
				در این فرم با وارد کردن کلمه عبور حال حاضرتان و همچنین اضافه کردن کلمه عبور جدید برای همیشه کلمه عبور این حساب کاربری را که به نام <strong>{{request.user.get_full_name}}</strong> می باشد را تغییر دهید<br><br>
				دقت داشته باشید موارد زیر را در کلمه عبور خود رعایت کنید:
				<hr>
				<ul>
					<li>کلمه عبور باید بیشتر از 8 حرف داشته باشد</li>
					<li>بهتر است از علائم نگارشی همچون (!,@,#,...) استفاده شود</li>
					<li>رمز عبور پیشنهادی ما <strong><b>{{suggest_password}}</b></strong> است . (اگر از رمز پیشنهادی استفاده می کنید ، حتما آنرا یادداشت کنید)</li> 

				</ul>
			</p>
		</div>
		<form class="p-5 bg-white manager-register" method="POST" dir="rtl">
			{% csrf_token %}
		<div class="row form-group text-right">

			<div class="col-md-12 mt-3 mb-md-0">
	            <label for="phone">{{UpdatePassword.old_password.label_tag}}</label>
	            {{UpdatePassword.old_password}}

	            {% for error in UpdatePassword.old_password.errors %}
					<span class="text-danger">{{error}}</span>
				{% endfor %}

	        </div>

	        <div class="col-md-6 mt-3 mb-md-0">
	            <label for="new_password">{{UpdatePassword.new_password.label_tag}}</label>
	            {{UpdatePassword.new_password}}

	            {% for error in UpdatePassword.new_password.errors %}
					<span class="text-danger">{{error}}</span>
				{% endfor %}
				
	        </div>

	        <div class="col-md-6 mt-3 mb-md-0">
	            <label for="re_new_password">{{UpdatePassword.re_new_password.label_tag}}</label>
	            {{UpdatePassword.re_new_password}}

	            {% for error in UpdatePassword.re_new_password.errors %}
					<span class="text-danger">{{error}}</span>
				{% endfor %}
				
	        </div>

	    </div>
	    <button type="submit" name="btn-edit" class="btn btn-warning">اعمال تغییرات</button>
	    </form>
	</div>
</section>
{% endblock %}