{% extends 'BASE_HTMLs/Base.html' %}
{% load static %}
{% load jalali_tags %}
{% block common_content %}
		<section class="ftco-section" dir="ltr">
      <div class="container">
        <div class="row d-flex">
        {% for blog in blogs %}
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url({{blog.banner.url}});border-radius: 10px;">
              </a>
              <div class="text mt-3">
              	<div class="meta mb-2">
                  <div><a>{{blog.create_date|to_jalali}}</a></div>
                  <div><a href="#"><span class="bi bi-filter-right"></span></a></div>
                  <div><a href="#" class="meta-chat"><span class="bi bi-hand-thumbs-up"></span>
                  {{blog.likes}}</a></div>
                </div>
                <h4 class="heading text-right"><a href="">{{blog.title}}</a></h4>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}