{% extends 'BASE_HTMLs/Base.html' %}
{% block common_content %}
<div style = "width:100%;height:550px;background:white;">
	<div class="container">
		<div class="col-md-12 text-center">
			<h2 class = "text-info" style = "font-size:55px;margin-top:280px"><strong>Comming Soon ♥</strong></h2>
			<h2 style = "font-size:50px;margin-top:50px;" class = "text-success">! این صفحه به زودی در دسترس قرار می گیرد</h2>
			<h5>توسعه دهنده در حال کار بر روی تجربه بهتر در این صفحه می باشد . به زودی صفحه مقالات برای شما
				 در دسترس خواهد بود</h5>
		</div>
	</div>
</div>
{% endblock %}
