{% if applicant is None %}
<div dir="rtl" class="col-md-12 ftco-animate">
	<div class="job-post-item p-4 d-block d-lg-flex align-items-center">
		<div class="one-third mb-4 mb-md-0">
		    <div class="job-post-item-header text-right">
		        <span class="subadge">{{item.get_job_nature_display}}{{item.ad.get_job_nature_display}}</span>
		        <h5 class="mr-3 text-black"><a href="{% if item.ad %}{% url 'AdDetail' pk=item.ad.id %}{% else %}{% url 'AdDetail' pk=item.id %}{% endif %}">{{item.title}}{{item.ad.title}}</a></h5>
		    </div>
		<div class="job-post-item-body d-block d-md-flex">
			<div class="ml-3"><span class="icon-layers"></span><a href=""> {{item.company}}{{item.ad.company}}</a></div>
			<div class="ml-3"><span class="icon-my_location"></span> <span> {{item.get_location_display}}{{item.ad.get_location_display}}</span></div>
			<div><span class="icon-my_location">{{item.salary}}{{item.ad.salary}}</span></div>
		</div>
		</div>
		    <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
		        <div>
		        	{% if item in marked or item.ad in marked %}
		        	<a href="{% if item.ad %}{% url 'AdUnsaved' pk=item.ad.id %}{% else %}{% url 'AdUnsaved' pk=item.id %}{% endif %}?next={{request.get_full_path}}" class="icon text-center d-flex justify-content-center align-items-center icon ml-2">
			             <span class="icon-trash"></span>
			        </a>
		        	{% else %}
			        <a href="{% if item.ad %}{% url 'Favorite' ad=item.ad.id %}{% else %}{% url 'Favorite' ad=item.id %}{% endif %}?next={{request.get_full_path}}" class="icon text-center d-flex justify-content-center align-items-center icon ml-2">
			             <span class="icon-heart"></span>
			        </a>
			        {% endif %}
		        </div>

			        {% if item in applied_jobs or item.ad in applied_jobs %}
			        	<a href="" class="btn btn-light py-2">قبلا رزومه ارسال کردید</a>
			        {% else %}
			        	<a href="{% if item.ad %}{% url 'ApplicantView' ad=item.ad.id %}{% else %}{% url 'ApplicantView' ad=item.id %}{% endif %}" class="btn btn-primary py-2">ارسال رزومه</a>
			        {% endif %}
							</div>
						</div>
					</div>

						{% else %}
						<div dir="rtl" class="col-md-6 ftco-animate">
							<div class="job-post-item p-4 d-block d-lg-flex align-items-center">
								<div class="one-third mb-4 mb-md-0">
								    <div class="job-post-item-header text-right">
								        <span class="subadge">{{item.ad.get_job_nature_display}}</span>
								        <h5 class="mr-3 text-black"><a href="{% url 'AdDetail' pk=item.ad.id %}">{{item.ad.title}}</a></h5>
								    </div>
								<div class="job-post-item-body d-block d-md-flex">
									<div class="ml-3"><span class="icon-layers"></span><a href="Company"> {{item.ad.company}}</a></div>
									<div class="ml-3"><span class="icon-my_location"></span> <span> {{item.ad.get_location_display|truncatewords:3}}</span></div>
									<div><span class="icon-my_location">{{item.ad.salary}}</span></div>
								</div>
								</div>

								    <div class=" ml-auto d-flex align-items-center mt-4 md-md-0">
								    	{% if item.status == "send" %}
								        <a class="btn btn-lg btn-primary font-size-10">وضعیت : {{item.get_status_display}}</a>
								        {% elif item.status == "seen" %}
								        <a class="btn btn-lg btn-warning text-dark font-size-10">وضعیت : {{item.get_status_display}}</a>
								        {% elif item.status == "accepted" %}
								        <a class="btn btn-lg btn-success text-white font-size-10">وضعیت : {{item.get_status_display}}</a>
								        {% else %}
								        <a class="btn btn-lg btn-light text-dark font-size-10">وضعیت : {{item.get_status_display}}</a>
								    	{%endif%}
								    	<hr>
								    </div>
								</div>
								<a href="{% url 'ApplicantDetail' pk=item.id %}" class="btn btn-lg btn-link font-size-10">مشاهده جزئیات</a>
						</div>
					{% endif %}



<!-- end -->
